body {
    font-family: Arial, sans-serif;
    background-color: #b7e4c5;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1420px;
    margin: 50px auto;
    padding: 40px;
    background-color: #9be6b5;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.heading {
    color: #005943;
    margin-bottom: 20px;
    padding: 10px;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.profile-details {
    flex-grow: 1;
    padding-right: 20px;
}

.form-group {
    margin-bottom: 20px;
    padding: 10px;
}

label {
    font-weight: bold;
    color: #007a5c;
}

p {
    margin: 0;
}

.form-group p {
    display: inline-block;
    margin-left: 10px; /* Add some spacing between label and paragraph */
}

.profile-photo {
    width: 200px;
}

.profile-photo img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.academic-performance {
    margin-top: 30px;
}
